/*hieronder komt homepage of index*/
/* Voor html en body gelden volgende regels */
html, body {
    height: 100%;
    display: flex;
    margin: 0%;
    flex-direction: column;
    background-image: url('knillis-confetti-16-9.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-size: cover;
}
 
/* Navigatiebalk bovenaan de pagina */
nav#kop1 {
    display: flex;
    justify-content: space-around;
    background-color: rgb(240, 125, 125);
    padding: 15px;
}
 
/* Stijl voor navigatielinks */
nav#kop1 a {
    padding: 5px;
    text-decoration: none;
    color: rgb(248, 4, 4);
}
 
/* Hoofdinhoud van de pagina */
.content {
    flex: 1;
    color: white;
    text-align: center;
    padding: 100px 20px;
}



        .rij {
            display: flex;  /* Zet producten naast elkaar */
            justify-content: space-around;  /* Gelijke ruimte tussen producten */
            flex-wrap: wrap;  /* Laat de producten op de volgende regel lopen indien nodig */
            padding: 1%;
            background-color: #ffffffaf;  /* Witte achtergrond met */
        }

        .product { 
            width: 20%;   /* Vier producten per rij op grote schermen */
            margin-bottom: 20px;   /* Ruimte onder elk productblok */
        }

        .product img {
            width: 100%;  /* Afbeelding vult gehele breedte van het scherm */
        }

        .winkelwagenbutton {
            margin-top: 5px;
            padding: 8px 12px;
            background-color: rgb(250, 0, 0);  /* Heldere rode kleur voor de knop */
            color: white;
            border-radius: 8px;  /* Afgeronde hoeken */
            cursor: pointer;
        }

        .winkelwagenbutton:hover {
            background-color: rgb(200, 0, 0);  /* Donkerdere kleur bij hover */
        }

        .prijs {
            color: rgb(0, 0, 0);  /* Rode kleur voor prijs */
        }
 
/* Voettekst onderaan de pagina */
footer {
    background-color: rgba(255, 204, 101, 1);
    text-align: center;
    padding: 20px;
    font-size: 14px;
    height: 100px;
}
 
/* Links in de footer */
footer a {
    color: rgb(23, 1, 1);
    text-decoration: none;
}
 
footer a:hover {
    text-decoration: underline;
}